<div class="d-flex flex-row-reverse">
    <a class="btn btn-outline-primary ml-2" href="#">{{#str}}return,format_wiki{{/str}}</a>
    <a class="btn btn-outline-danger ml-2" href="#">{{#str}}rollback,format_wiki{{/str}}</a>
</div>

</div>
<div class="row">
    <div class="col-6"><h2>{{#str}}version_from,format_wiki{{/str}} {{date_old}}</h2></div>
    <div class="col-6"><h2>{{#str}}version_actual,format_wiki{{/str}}</h2></div>
</div>
<hr/>
<div class="row">
    <div class="col-6">{{{old}}}</div>
    <div class="col-6">{{{new}}}</div>
</div>